{
  "presets": [
    "es2015",
    "stage-0"
  ],
  "plugins": [
    "transform-runtime",
    "transform-vue-jsx",
    [
      "component",
      [
        {
          "libraryName": "element-ui",
          "styleLibraryName": "~src/css/theme"
        }
      ]
    ]
  ],
  "comments": false,
  "env": {
    "test": {
      "presets": [
        "es2015",
        "stage-0"
      ],
      "plugins": [
        "istanbul"
      ]
    }
  }
}
